# /etc/systemd/system/telegrambot.service
[Unit]
Description=Telegram Bot
After=network.target

[Service]
WorkingDirectory=/telegram-bot
ExecStart=/usr/bin/env bash run.sh
ExecStop=/usr/bin/env bash -c 'rm -f /telegram-bot/workers_started.flag'
Restart=always
User=www-data
Environment=HOST=0.0.0.0
Environment=PORT=8000
RestartSec=5

[Install]
WantedBy=multi-user.target
