# /etc/systemd/system/telegrambot.service
[Unit]
Description=Telegram Bot
After=network.target

[Service]
WorkingDirectory=/telegram-bot
ExecStart=/usr/bin/env bash run.sh
ExecStop=/usr/bin/env bash -c 'rm -f /telegram-bot/workers_started.flag'
Restart=always
User=www-data
Environment=BOT_USERNAME=admin
Environment=BOT_PASSWORD=secure123
Environment=HOST=0.0.0.0
Environment=PORT=8000

[Install]
WantedBy=multi-user.target
