<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/resources/favicon.svg" type="image/svg+xml">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>聊天记录</title>
    <link rel="stylesheet" href="/static/chat.css">
    <link rel="stylesheet" href="/static/components/message/index.css">
    <link rel="stylesheet" href="/static/components/separator/index.css">
</head>

<body>
    <div class="container">
        <div id="header">
            <input type="text" id="searchBox" placeholder="请输入日期或聊天内容进行搜索...">
            <button id="confirmSearch">搜索</button>
            <select id="chatSelect" class="select-component">
            </select>
            <select id="reactionSelect" class="select-component" title="表情排序">
            </select>
        </div>
        <div id="topLoader" class="top-loader hidden" aria-hidden="true">
          <div class="top-loader__inner">
            <div class="top-loader__spinner" aria-hidden="true"></div>
          </div>
        </div>
        <div id="overlay">
          <div id="loader"></div>
        </div>
        <div id="messages"></div>
    </div>
    <button id="scrollTop" class="scroll-button" onclick="window.scrollTo(0, 0)">
      <svg t="1768586774873" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4878" width="20" height="20"><path d="M890.5 755.3L537.9 269.2c-12.8-17.6-39-17.6-51.7 0L133.5 755.3c-3.8 5.3-0.1 12.7 6.5 12.7h75c5.1 0 9.9-2.5 12.9-6.6L512 369.8l284.1 391.6c3 4.1 7.8 6.6 12.9 6.6h75c6.5 0 10.3-7.4 6.5-12.7z" p-id="4879" fill="#e6e6e6"></path></svg>
    </button>
    <button id="scrollBottom" class="scroll-button" onclick="window.scrollTo(0, document.body.scrollHeight)">
      <svg t="1768586938836" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8660" width="20" height="20"><path d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3 0.1-12.7-6.4-12.7z" p-id="8661" fill="#e6e6e6"></path></svg>
    </button>
    <script>window.CHAT_ID = "{{ chat_id }}"; window.CHAT_USERNAME = "{{ chat_username }}";</script>
    <script type="module" src="/static/utils.js"></script>
    <script type="module" src="/static/components/message/index.js"></script>
    <script type="module" src="/static/components/separator/index.js"></script>
    <script type="module" src="/static/chat.js"></script>
</body>

</html>
